<h1>What is Blazer?</h1>
<br>Blazer is a series of writing conferences that determine the exercises that will best prepare you to think like a writer.<br><br>
Developed by two teachers who have dedicated their lives to assisting students of all ages and abilities, Blazer helps you find your voice.<br><br>
<%= link_to('Take a writing diagnostic', diagnostics_new_path) %>
<br>
<br>
<p>(Find me in app/views/pages/about.html.erb)</p>
