
<h1>Are you sure?</h1>
<p>Wouldn't you like to create an account?</p>
</br>
<%= link_to('Sign up', signup_path, class: "btn btn-lg btn-primary") %>
</br>
</br>
Continue without <%= link_to('sign up', diagnostics_new_path) %>.
</br>
</br>
</br>
<%= link_to('About this app', pages_about_path) %>

