
<h1>Welcome to Blazer</h1>
<p>Become a better writer.</p>
</br>
<%= link_to('Sign up', signup_path, class: "btn btn-lg btn-primary") %>
</br>
</br>
<%= link_to('About this app', pages_about_path) %>
</br>
<%= link_to('Take a writing diagnostic', pages_continue_path) %>
</br>
</br>


