<head>
<title>Blazer</title>
<style>
</style>
</head>

<body>
<h1>Welcome to Blazer</h1>

<!-- <h1>Pages#welcome</h1> -->
<!-- <p>Find me in app/views/pages/welcome.html.erb</p> -->
<p>This is where we would put our first writer's conference. </p>