<h1>Welcome to Blazer</h1>
<p>Become a better writer.</p>
</br>
<%= link_to('About this app', pages_about_path) %>
</br>
<%= link_to('Take a writing diagnostic', diagnostics_new_path) %>
</br>
</br>
<p>(Find me in app/views/pages/welcome.html.erb)</p>