<% provide(:title, @user.first_name) %>
<h1>Welcome to Blazer, <%= @user.first_name %>!</h1>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h2>
      Email address: <%= @user.email %>
      </h2>
    </section>
  </aside>
</div>
</br>
<h2>
Would you like to take a <%= link_to('writing diagnostic', diagnostics_new_path) %>?
</h2>
</br>
</br>
<%= link_to('About this app', pages_about_path) %>
